<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control" id="cpf">
  </div>
  <div class="mb-3">
    <label for="observacoes" class="form-label">Observações</label>
    <textarea type="text" class="form-control" rows="5" id="observacoes"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
